<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_graph_path(@graph) %> |
<%= link_to 'Back', graphs_path %>

<%=raw @data_frame.group_by('Country', 'Item Type').size.to_html %>
<%=raw @d_frame.group_by('Country', 'Sales Channel').size.to_html %>
<%=raw @dff.group_by('Country', 'Order Priority').size.to_html %>
 <div id="container" style="height: 300px;"></div>

 <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
app.title = 'Sample Graph';

option = {
    xAxis: {
        type: 'category',
        data: <%= @data_frame['Total Profit'].to_a %>
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: <%= @data_frame['Total Profit'].to_a %>,
        type: 'bar'
    }]
};

if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
</script>

<%= @data_frame['Total Profit'].to_a %>